// %img1 { background: url(../images/temp.png); }
// %img2 { background: url(../images/temp.png); }
// @mixin img3 {  background: url(../images/temp.png);}

/* dnx.scss */
// %img1 { background: url(../images/temp.png); }
// %img2 { background: url(../images/temp.png); }

/* yby.scss */
// %img3 { background: url(../images/temp.png); }
// %img4 { background: url(../images/temp.png); }

%d-sprite-icon{background:url(../images/dd_icon.png) no-repeat;background-size: 55px auto;}
%d-img1{background:url(../images/d_icon_right.png) no-repeat;background-size: 21px 21px;}
%y_alt_6{background:url(../images/liuc/alt_6.png) left top no-repeat; background-size: 203px 50px;}
%y_alt_close{ background:url(../images/liuc/alt_close.png) left top no-repeat; background-size: 23px 23px;}
%g_img{background:url(../images/g_icon.png) left top no-repeat; background-size: 290px 213px;}
