	<div class="t_main">
		<div class="t_cshaed">
			<h2>当前城市：北京</h2>
		</div>
		<div class="t_cstitle">
			按字母排序
		</div>
		<div class="t_cslist">
			<ul class="clearfix">
				<li><a href="#a">A</a></li>
				<li><a href="#b">B</a></li>
				<li><a href="#c">C</a></li>
				<li><a href="#d">D</a></li>
				<li><a href="#e">E</a></li>
				<li><a href="#f">F</a></li>
				<li><a href="#g">G</a></li>
				<li><a href="#h">H</a></li>
				<li><a href="#i">I</a></li>
				<li><a href="#j">J</a></li>
				<li><a href="#k">K</a></li>
				<li><a href="#l">L</a></li>
				<li><a href="#m">M</a></li>
				<li><a href="#n">N</a></li>
				<li><a href="#o">O</a></li>
				<li><a href="#p">P</a></li>
				<li><a href="#q">Q</a></li>
				<li><a href="#r">R</a></li>
				<li><a href="#s">S</a></li>
				<li><a href="#t">T</a></li>
				<li><a href="#u">U</a></li>
				<li><a href="#v">V</a></li>
				<li><a href="#w">W</a></li>
				<li><a href="#x">X</a></li>
				<li><a href="#y">Y</a></li>
				<li><a href="#z">Z</a></li>
			</ul>
		</div>
		<div class="t_cstitle" id="a">
			A<em>（以A开头的城市）</em>
		</div>
		<div class="t_cslist1 clearfix">
			<a href="">安庆</a>
			<a href="">鞍山</a>
			<a href="">安阳</a>
			<a href="">安康</a>
			<a href="">澳门</a>
			<a href="">阿克苏</a>
			<a href="">阿拉尔</a>
			<a href="">阿里</a>
			<a href="">阿坝</a>
		</div>
		<div class="t_cstitle" id="b">
			B<em>（以B开头的城市）</em>
		</div>
		<div class="t_cslist1 clearfix">
			<a href="">北京</a>
			<a href="">保定</a>
			<a href="">包头</a>
			<a href="">滨州</a>
			<a href="">宝鸡</a>
			<a href="">蚌埠</a>
			<a href="">本溪</a>
			<a href="">白城</a>
			<a href="">白山</a>
		</div>
		<div class="t_cstitle" id="c">
			C<em>（以C开头的城市）</em>
		</div>
		<div class="t_cslist1 clearfix">
			<a href="">成都</a>
			<a href="">长沙</a>
			<a href="">重庆</a>
			<a href="">长春</a>
			<a href="">常州</a>
			<a href="">沧州</a>
			<a href="">常德</a>
			<a href="">长治</a>
			<a href="">承德</a>
		</div>
	</div>
	<div class="t_csgotop"></div>