<div class="l_body">
	<div class="l_box l_noTop">
		<div class="l_boxHeader"><h3>使用规则</h3></div>
		<div class="l_boxMain">
			<p class="l_rule" data-ng-repeat="rule in rules" data-ng-bind="rule"></p>
		</div>
	</div>
	<div class="l_box" data-ng-repeat="coupon in couponList">
		<div class="l_boxHeader"><h3 data-ng-bind="coupon.app_name"></h3></div>
		<div class="l_boxMain">
			<ul class="l_list">
				<li><span>91&nbsp;特&ensp;惠</span><p data-ng-bind="coupon.price_off"></p></li>
			</ul>
		</div>
	</div>
</div>