	<div class="t_main">
		<div class="t_head">
			<img src="images/t_head.jpg" alt="">
			<div class="t_title">
				<h3>获得了一个红包</h3>
				<h4>去看看什么惊喜奖品在等您</h4>
			</div>
			<div class="t_erweima">
				<img src="images/temp/t_205x205.jpg" alt="">
			</div>
			<p>长按二维码保存至本地于微信扫一扫中扫描本地二维码即可领取红包</p>
		</div>
		<div class="t_list">
			<div class="t_tag">使用说明</div>
			<ul>
				<li>
					<i>1</i>
					<p>将二维码保存至本地相册</p>
					<figure>
						<img src="images/t_img1.jpg" alt="">
					</figure>
				</li>
				<li>
					<i>2</i>
					<p>打开微信扫一扫，选择相册</p>
					<figure>
						<img src="images/t_img2.jpg" alt="">
					</figure>
				</li>
				<li>
					<i>3</i>
					<p>选择保存在本地的二维码</p>
					<figure>
						<img src="images/t_img3.jpg" alt="">
					</figure>
				</li>
				<li>
					<i>4</i>
					<p>进入活动，抽取你的惊喜奖品</p>
					<figure>
						<img src="images/t_img4.jpg" alt="">
					</figure>
				</li>
			</ul>
		</div>
	</div>