<div class="y_bg">
  <div class="y_hdtool">
    <img class="logo" src="images/y_logo.png">
    <ul class="jp">
      <li><a data-ng-click="updatePath('user')">我的奖品</a></li>
      <li><a data-ng-click="showRules()">活动规则</a></li>
    </ul>
  </div>
  <div class="gl_slider">
    <div class="y_slider">
      <ul>
        <li data-ng-repeat="image in activity.sliderImages"><img class="img" data-ng-src="{{image}}"></li>
      </ul>
    </div>
    <div class="y_navigater">
      <ul>
        <li class="on"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="y_txt_001">已有 9849人参与91购房节获得价值10000万豪礼</div>
    <div class="y_btn_001"><a data-ng-click="updatePath('projects')">{{activity.joinBtnText}}</a></div>
  </div>
  <div class="gl_yao">
    <div class="gl_yao_hd"></div>
    <div class="gl_yao_txt">摇一摇大奖公告</div>
    <a href="javascript:void(0);"><div class="gl_yao_bd">
      摇奖时间 ：{{activity.shakeDuration}}<br />
      摇奖条件：{{activity.shakeDescription}}
    </div></a>
  </div>
  <div class="ng-hide" data-ng-show="showRulePopup">
    <div class="y_mask"></div>
    <div class="y_alt">
      <a href="javascript:void(0);" data-ng-click="hideRules()" class="y_close"></a>
      <img src="images/liuc/alt_0.png" alt="" class="y_img">
      <div class="img_box">
        <img src="images/liuc/alt_1.png" alt="">
        <h3 class="txt_1">预约免费专车看房<br />超级方便</h3>
  
      </div>
      <div class="img_box">
        <img src="images/liuc/alt_2.png" alt="">
        <h3 class="txt_2">领取91乐居卡获得五大服务</h3>
      </div>
      <div class="img_box">
        <img src="images/liuc/alt_3.png" alt="">
        <h3 class="txt_3">约车后抽礼盒 多重好礼等你拿</h3>
  
      </div>
      <div class="img_box">
        <img src="images/liuc/alt_4.png" alt="">
        <h3 class="txt_4">成功约车可参加摇一摇<br />终极大奖</h3>
        <p class="txt_p1">神秘大奖<br />关注个人中心摇奖提示哦</p>
      </div>
      <div class="img_box">
        <img src="images/liuc/alt_5.png" alt="">
        <h3 class="txt_5">独一无二的购房优惠</h3>
        <p class="txt_p2">买房 乐居真的帮你省<br/>
  抓紧机会一起参加91购房节吧</p>
      </div>
      <a href="javascript:void(0)" class="y_buy"></a>
      <a href="javascript:void(0)" data-ng-click="updatePath('tos')" class="y_txt_lk">查看详细规则</a>
    </div>
  </div>
</div>