<div class="g_wrap">
	<div class="g_head">
		<h2><i></i>预约成功</h2>
		<p>我们的客服将在24小时内对您的信息进行审核，<br/>
		审核结果将以短信的形式通知您，请注意查收。
		</p>
		
	</div>
	<div class="g_icon">
		<div class="g_title">
			<h3>获得惊喜大礼包
			</h3>
		</div>
		<div class="g_d_icon">
			<div class="g_i01">
				<a href="#">
					<h4>91乐居卡</h4>
					<p>恭喜您成为91乐粉，立即查看五大专项服务！</p>
				</a>
			</div>
			<div class="g_i01 i02">
				<a href="#">
					<h4>红包奖品</h4>
					<p>查看我的惊喜礼品</p>
					
				</a>
			</div>
			
		</div>

		

	</div>
	<div class="g_inf">
		<div class="g_title">
			<h3>您的预约信息
			</h3>
		</div>
		
		<ul  class="g_d_inf">
			<li>预&ensp;约&ensp;人
				<em>小乐</em>
			</li>
			<li>手&ensp;机&ensp;号
				<em>13655468790</em>
			</li>
			<li>约车时间
				<em>2015年06月22日   星期三  09:30</em>
			</li>
			<li>约看楼盘
				<em>首东国际大厦</em>
			</li>
			<li>出&ensp;发&ensp;地
				<em>通州北苑万达广场</em>
			</li>
			<li>目&ensp;的&ensp;地
				<em>广渠门东南角</em>
			</li>
		</ul>
		
		
	</div>

</div>