<style type="text/css">
.y_loading {
  text-align: center;
  padding: 20px 0;
}
.y_loading i {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
}
</style>
<div class="y_pages">
	<div class="y_banner">
		<img src="images/temp/y_02.jpg">
		<a class="sm" data-ng-click="updatePath('tos')">说明</a>
	</div>
	<div class="y_yuyue">
		<div class="txt">
			<span class="m1">预约免费专车</span>
			<span class="m2">您可约车去以下楼盘看房  买房还可享受91特惠价</span>
		</div>
		<a class="y_city">
			北京
		</a>
	</div>
	<div class="y_list">
		<ul>
			<li data-ng-repeat="project in projectList">
				<div class="con">

					<div class="im"><img data-ng-src="{{project.pic_s}}"></div>
					<div class="tx">
						<h2>{{project.name}}</h2>
						<h3>{{project.address}}</h3>
						<h3>均<u></u>价：{{project.price_avg}}元/平</h3>
						<h3 class="red ng-hide" data-ng-show="project.price">特惠价：{{project.price}}</h3>
					</div>

				</div>
				<a class="yue ng-hide" data-ng-show="project.kft == 0">
					<img src="images/y_icon01.png" />
					<em>立即约车</em>
				</a>
				<a class="yue kft ng-hide"  data-ng-show="project.kft == 1" href="http://m.bch.leju.com/?site=touch&amp;ctl=goufangkft&amp;act=apply&amp;a_id=5060&amp;city={city}&amp;hid={hid}&amp;purchase_id=1&amp;line_id={line_id}&amp;header=1">
					<img src="/activity/resources/v1.0/purchase/images/y_icon02.png">
					<em>报名看房</em>
				</a>
			</li>
		</ul>
	</div>
	<!--end list-->
	<div class="y_loading ng-hide" data-ng-show="loading"><i><img width="14" height="14" src="images/HLloading.gif"></i>努力加载中…</div>
	<div class="y_more" data-ng-click="loadMore()" data-ng-show="showMore">点击加载更多内容</div>
	<div class="y_error ng-hide" data-ng-show="noResultFound">
		<img src="images/y_error.png" />
		<h2>未找到符合条件的楼盘</h2>
	</div>
	<div class="y_search">
		<div class="inp"><input type="text" placeholder="没有我要找的楼盘  搜索更多" data-ng-model="keyword" /></div>
		<div class="btn"><input type="button" data-ng-click="searchProject()" /></div>
	</div>
</div>