	<div class="sUserInfo">用户信息</div>
	<form  name="userForm" data-ng-submit="submitForm(userForm.$valid)" novalidate>
	<ul class="sList01">
		<li><span>手机号：</span><input data-ng-readonly="showTips" type="text" name="telphone" data-ng-model-options="{updateOn: 'blur'}" data-ng-model="telphone" data-ng-pattern="/^1[3|4|5|7|8][0-9]\d{8}$/" required></li>
		<li class="code"><span>验证码：</span><input data-ng-readonly="showTips" type="text" data-ng-model-options="{updateOn: 'blur'}" name="code" data-ng-model="code" required data-ng-pattern="/^\d{3,}$/"><a data-ng-click="sendSMS(userForm)" href="javascript:void(0)">获取验证码</a></li>
	</ul>
	<div class="sBtnBox"><a class="sBtn01" data-ng-click="submitForm(userForm)" href="javascript:void(0)">查  询</a></div>
	</form>
	<div data-ng-show="showTips">
		<div class="cuowu ng-hide" data-ng-show="userForm.telphone.$error.required && (scenario === 'sendSMS' || scenario === 'signIn')"><em>手机不能为空</em></div>
		<div class="cuowu ng-hide" data-ng-show="userForm.telphone.$error.pattern && (scenario === 'sendSMS' || scenario === 'signIn')"><em>请填写正确手机号码</em></div>
		<div class="cuowu ng-hide" data-ng-show="userForm.code.$error.required && scenario === 'signIn' && userForm.telphone.$valid"><em>验证码不能为空</em></div>
		<div class="cuowu ng-hide" data-ng-show="userForm.code.$error.pattern && scenario === 'signIn' && userForm.telphone.$valid"><em>验证码有误</em></div>
		<div class="cuowu ng-hide" data-ng-show="scenario === 'ajaxInfo'"><em>{{ajaxMsg}}</em></div>
	</div>
	
	