<style type="text/css">
  .l_body > .l_box:first-child {
    border-top: 0;
    margin-top: 0;
  }
</style>
<div class="l_body">
  <div class="l_box">
		<div class="l_boxHeader"><h3>约车记录</h3></div>
		<div class="l_boxMain">
			<p class="l_tip">温馨提示：我们的客服将在24小时内对您的信息进行审核,审核结果将以短信的形式通知您,请注意查收</p>
		</div>
	</div>
	<div class="l_box" data-ng-repeat="record in records">
		<ul class="l_list">
			<li><span>预&ensp;约&ensp;人</span><p data-ng-bind="record.member_name"></p></li>
			<li><span>手&ensp;机&ensp;号</span><p data-ng-bind="record.mobile"></p></li>
			<li><span>约车时间</span><p data-ng-bind="record.appointment_time"></p></li>
			<li><span>出&ensp;发&ensp;地</span><p data-ng-bind="record.location_start"></p></li>
			<li><span>目&ensp;的&ensp;地</span><p data-ng-bind="record.location_end"></p></li>
		</ul>
	</div>
</div>