<div class="g_intr">
	<div class="g_t_title">
		<h3>活动时间 
		<em>2015年7月1日至2015年9月1日</em>
		</h3>
	</div>
	<div class="g_line"></div>
	<div class="g_title">
		<h3>活动规则
		</h3>
	</div>
	<ul class="g_detail">
		<li>1　具体领奖方式详见“乐居送红包”礼品详情兑奖时请携带中奖者本人身份证原件，到指定地点领取。</li>
		<li>2　中奖者需在规定的领取时间内领奖，逾期作废</li>
		<li>3　奖品不能兑现，不能退换。</li>
		<li>4　现金奖品发放，以微信红包的形式进行发放由于个人微信账号原因无法收取微信红包的由用户自己承担，与乐居公司无关。</li>
		<li>5　本活动最终解释权由奖品提供方享有。</li>
		<li>6　免费服务电话：400-606-6969。</li>
	</ul>
</div>