<div class="d-boby-gray">
	<div class="d-title">
		<span>我的奖品</span>
	</div>
	<div class="d-col ng-hide" data-ng-show="userData.records === 1">
		<div class="d-word clearfix">
			<i class="d-i1"></i>
			<div class="d-con">
				<h3>看房专车券</h3>
				<h4 class="ng-hide" data-ng-show="userData.residue_count > 0">还有{{userData.residue_count}}张专车券未使用</h4>
			</div>
		</div>
		<div class="d-btn clearfix">
			<div class="d-d1">
				<a href="javascript:void(0);" data-ng-click="orderTaxi()">立即约车</a>
			</div>
			<div>
				<a href="javascript:void(0)" data-ng-click="updatePath('taxiRecords')">约车记录</a>
			</div>
		</div>
	</div>
	
	<div class="d-col ng-hide" data-ng-show="userData.kft_records === 1">
		<a href="javascript:void(0)" data-ng-click="updatePath('visitRecords')">
			<div class="d-word clearfix">
				<i class="d-i6"></i>
				<div class="d-con">
					<h3>看房团</h3>
					<h4>查看我的看房团记录</h4>
				</div>
				<span class="d-more"></span>
			</div>
		</a>
	</div>
	
	<div class="d-col ng-hide" data-ng-show="userData.records === 1">
		<a data-ng-href="//m.dev.leju.com/f/landing_page.html?mobile={{userData.telphone}}">
			<div class="d-word clearfix">
				<i class="d-i2"></i>
				<div class="d-con">
					<h3>91乐居卡</h3>
					<h4>查看我的91卡</h4>
				</div>
				<span class="d-more"></span>
			</div>
		</a>
	</div>
	
	<div class="d-col" data-ng-show="userData.user_info.has_giftbox === 1">
		<a href="#">
			<div class="d-word clearfix">
				<i class="d-i3"></i>
				<div class="d-con">
					<h3>奖品礼包</h3>
					<h4>我的奖品</h4>
				</div>
				<span class="d-more"></span>
			</div>
		</a>
	</div>
	
	<div class="d-col ng-hide" data-ng-show="userData.records === 1">
		<a href="#">
			<div class="d-word clearfix">
				<i class="d-i4"></i>
				<div class="d-con">
					<h3>摇一摇</h3>
					<h4>我的奖品</h4>
				</div>
				<span class="d-more"></span>
			</div>
		</a>
	</div>
	
	<div class="d-col ng-hide" data-ng-show="userData.records === 1">
		<a href="javascript:void(0)" data-ng-click="updatePath('coupon')">
			<div class="d-word clearfix">
				<i class="d-i5"></i>
				<div class="d-con">
					<h3>购房优惠</h3>
					<h4>有效期至：2015-12-31</h4>
				</div>
				<span class="d-more"></span>
			</div>
		</a>
	</div>
	
</div>

<div class="y_wu ng-hide" data-ng-show="userData.records == 0 && userData.user_info.has_giftbox == 0 && userData.kft_records == 0">
	<div class="img"><img src="images/y_wu.png"></div>
	<div class="txt">无中奖记录，快去免费约车赢大礼包吧~</div>
	<a class="btn">{{userData.purchase_guide_button}}</a>
</div>