<style type="text/css">
  .l_body > .l_box:first-child {
    border-top: 0;
    margin-top: 0;
  }
</style>
<div class="l_body">
  <div class="l_box">
		<div class="l_boxHeader"><h3>看房团记录</h3></div>
		<div class="l_boxMain">
			<p class="l_tip">温馨提示：我们的客服将在24小时内对您的信息进行审核,审核结果将以短信的形式通知您,请注意查收</p>
		</div>
	</div>
	<div class="l_box" data-ng-repeat="record in records">
		<ul class="l_list">
			<li><span>线&ensp;路</span><p data-ng-bind="record.line_name"></p></li>
			<li><span>姓&ensp;名</span><p data-ng-bind="record.username"></p></li>
			<li><span>手&ensp;机</span><p data-ng-bind="record.tel"></p></li>
		</ul>
	</div>
  <div class="l_box ng-hide" data-ng-show="records.length === 0">
    <ul class="l_list">
      <li><p>没有看房纪录</p></li>
    </ul>
  </div>
</div>