@charset "utf-8";
.d-boby-gray{
	background-color: #ededed;
}

.d-title{
	height:42px;line-height: 42px;border-bottom:1px solid #d9d9d9;background-color: #fff;
	span{
		font-size: 14px;color:#e92235;border-left: 2px solid #e92235;padding-left:12px;font-weight: bold;
	}
}

.d-col{
	margin-top: 5px;border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;padding:15px;background-color: #fff;
}
.d-word{
	position:relative;
	i{
		display: block;float: left;width:55px;height:55px;@extend %d-sprite-icon;margin-right: 12px;
		&.d-i1{
			background-position: 0 0;
		}
		&.d-i2{
			background-position: 0 -56px;
		}
		&.d-i3{
			background-position: 0 -112px;
		}
		&.d-i4{
			background-position: 0 -168px;
		}
		&.d-i5{
			background-position: 0 -224px;
		}
		&.d-i6{
			background-position: 0 -280px;
		}
	}
	.d-con{
		overflow: hidden;padding-right: 30px;
		h3{
			font-size: 16px;color:#333;margin-top: 5px;
		}
		h4{
			font-size: 12px;color:#b2b2b2;
		}
	}
	.d-more{
		position:absolute;width:21px;height:21px;@extend %d-img1;right:0;top:18px;
	}
}
.d-btn{
	margin-top: 20px;
	> div{
		float:left;width:50%;
		&:first-child a{
			margin-right: 5px;
		}
		&:last-child a{
			margin-left: 5px;
		}
	}
	a{
		display:block;background-color: #f95454;height:30px;line-height: 30px;text-align: center;border-radius: 15px;font-size: 14px;color:#fff;
	}
}



