.g_wrap{background-color: #ededed;overflow: auto;-webkit-overflow-scrolling: touch;
}
.g_head{padding: 36px 0;background-color: #f4f4f4;border-bottom: 1px solid #d9d9d9;margin-bottom: 6px;
	h2{color: #fb6e10;font-size: 24px;text-align: center;line-height: 24px;
		i{display: inline-block;width: 24px;height: 24px; @extend %g_img;vertical-align: middle;margin-right: 12px;position: relative;top: -2px;}
	}
	p{font-size: 12px;color: #666;text-align: center;line-height: 20px;margin-top: 14px;}
}
.g_icon{background-color: #fff;border:1px solid #d9d9d9; border-right: none;border-left: none;margin-bottom: 6px;
	.g_d_icon{padding: 28px 15px;
		.g_i01{width: 100%;height: 80px;margin:0 auto;@extend %g_img;background-position: 0 -37px;box-sizing:border-box;position: relative;margin-bottom: 14px; background-color: #fab937; border-radius:5px;border:1px solid #ffb125;
			a{display: block;width:100%;height: 100%;padding: 20px 20px 0;box-sizing:border-box;
				h4{font-size: 16px;color: #fff;position: relative;line-height: 16px;text-shadow:1px 1px 1px #f6ab2c;
					&:before{content: '';width: 18px;height: 18px;@extend %g_img;background-position: -32px -5px;display: inline-block;margin-right: 6px;position: relative;top: 4px;}

				}
				p{font-size: 12px;color: #e54b00;line-height: 12px;margin-top: 10px;text-shadow:0 1px 0 #fdc760;}
				
			}
			&:before{position: absolute; content: ''; width: 35px;height: 35px;display: inline-block;top: -3px;left: -2px;@extend %g_img;background-position: -121px 0;}
			&:after{position: absolute; content: ''; width: 10px;height: 20px;display: inline-block;top: 32px;right: 10px;@extend %g_img;background-position: -106px -3px;}

		}
		.i02{background-position: -1px -131px;margin-bottom: 0;background-color: #f2534d;border:1px solid #e82431;
			a{
				h4{text-shadow:1px 1px 1px #e42b2d;
					&:before{background-position: -65px -5px;}
				}
				p{color: #fff;text-shadow:none;}
			}
			&:before{background-position: -160px 0;}
		}
	}
}
.g_title{padding-left: 15px;position: relative;border-bottom: 1px solid #e7e7e7;
	h3{font-size: 14px;color: #e6263b;line-height: 42px;height: 42px;
		&:before{position: absolute; content: ''; width: 2px;height: 16px;background-color: #e6263b;top: 13px; left: 0;}
	}
}

.g_inf{border-top:1px solid #d9d9d9;background-color: #fff;
	.g_d_inf{padding: 15px;	
		li{font-size: 14px;line-height: 28px;color: #999;
			em{color: #333;padding-left: 16px;font-style: normal;display:table-cell;}
			span{display:table-cell;white-space: nowrap}
		}
		
	}
}
.g_intr{
	.g_t_title{/*min-height: 42px;*/position: relative;padding: 0 15px;background-color: #fff;
		.g_h3{font-size: 14px;/*height: 14px;*/color: #e92235;margin: 14px 0;line-height: 20px; 
			span{ float: left;}
			em{ display: inline-block;color: #666;margin-left: 16px;position: relative;
				&:before{content: '';width: 1px;height: 12px;position: absolute;background-color: #e6e6e6;left: -7px;top: 4px;}
			}
			.ova{ overflow: hidden;}
		}
	}
	.g_line{height: 4px;background-color: #f2f2f2;border: 1px solid #e6e6e6; border-left: none;border-right: none;}
	.g_detail{padding: 15px;
		li{font-size: 14px;color: #666;line-height: 22px;margin-bottom: 10px;}
	}

}
