@charset "UTF-8";
.l_body { background-color: #f2f2f2;}
.l_box { background-color: #fff; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; margin-top: 4px;}
.l_noTop { border-top: 0; margin-top: 0;}
.l_boxHeader { border-bottom: 1px solid #e7e7e7; padding: 12px 0;
	h3 { box-sizing: border-box; width: 100%; padding-left: 12px; border-left: 2px solid #e92235; height: 16px; line-height: 16px; font-size: 14px; color: #e92235;}
}
.l_boxMain { padding: 15px 0;
	.l_tip { padding: 0 15px; line-height: 21px; font-size: 12px; color: #999;}
	.l_rule { padding: 0 15px 11px 15px; line-height: 21px; font-size: 14px; color: #666;
		&:last-child { padding-bottom: 0;}
	}
	.l_list { padding: 0;}
}
.l_list { padding: 13px 0;
	li { padding: 0 15px; line-height: 28px; font-size: 14px;
		span { float: left; width: 70px; color: #999;}
		p { overflow: hidden; color: #333;}
	}
}