.sUserInfo{height: 32px; font-size: 12px; line-height: 32px; color: #999; padding-left: 12px; background-color: #f5f5f5;}
.sList01{padding-left:12px;
	li{ position: relative; padding-left: 62px; border-bottom: 1px solid #f1f1f1; height: 46px; padding-right: 12px;
		span{position: absolute; left: 0; top: 0; height: 46px; line-height: 46px; width: 60px; color: #333; font-size: 14px;}
		input{width: 100%; height: 46px; line-height: 46px; color: #aaa; font-size: 14px;}
		&.code{ padding-right: 90px;
			a{ position: absolute; display: block; width: 70px; height: 32px; line-height: 32px; border: 1px solid #ebebeb; border-radius: 5px; text-align: center; top: 7px; right: 12px; color: #333; font-size: 12px; background: -moz-linear-gradient(top, #fff, #f1f1f1); background: -webkit-linear-gradient(top, #fff, #f1f1f1); }
		}
	}
}
.sBtnBox{padding: 20px 15px;}
.sBtn01{ display: block; height: 32px; line-height: 32px; text-align: center; color: #fff; font-size: 14px; border-radius: 16px; background-color: #f95454;}