@charset 'utf-8';
.t_main{background:#f7f7f7;}
.t_head{position:relative;
	img{display: block;width: 100%;position: relative;}
	p{position:absolute;bottom: 0;left: 0;width: 100%;box-sizing:border-box;font-size: 14px;color: #f00;padding:0 5% 5% 25%; text-shadow:0 0 1px #fff;}
}
.t_title{position:absolute;padding:0 74px;text-align: center;top:17%;left: 0;width: 100%;box-sizing:border-box;
	h3{font-size: 16px;color: #fff;text-shadow:0 0 1px #b12601;}
	h4{font-size: 12px;color: #ffd730;text-shadow:0 0 1px #b12601;}
}
.t_erweima{position: absolute;top: 40%;left: 0;width: 100%;box-sizing:border-box;padding:0 34%;
	img{border:3px solid #b12601;}
}
.t_tag{width: 70px;height: 20px;text-align: center;line-height: 20px;font-size: 14px;color: #fff;background:#fbb355;border-radius:10px;margin:25px 0 0 16px;}
.t_list{background:#fff;margin-top: 5px;border-top:1px solid #f0f0f0;
	ul{border-left:2px solid #fae7bf;margin-left: 35px;padding-bottom: 47px;}
	li{position:relative;padding-top: 30px;
		&:nth-child(1) figure,&:nth-child(4) figure{padding:0 69px 0 35px;}
		&:nth-child(2) figure,&:nth-child(3) figure{padding:0 55px 0 35px;}
		&:nth-child(4){padding-top: 10px;
			i{top: 10px;}
		}
		&:nth-child(2) figure{margin-top:4px;}
	}
	i{position:absolute;width: 21px;height: 21px;    text-indent: 3px;line-height: 21px;color: #fffce8;font-size: 18px;border:3px solid #fae7bf;border-radius: 50%;background:#fbb355;display: block; top: 30px;left: -14px;}
	p{font-size: 16px;color: #999;padding-left: 16px;line-height: 26px;}
	figure{box-sizing:border-box;width: 100%;margin-top: 30px;}
	img{display: block;width: 100%;}
}
.t_h2{background:#ffdd43;width: 100%;text-align: center;padding-bottom: 2px;
	h2{margin:0 12px;font-size: 18px;height: 85px;line-height: 85px;color: #000;border-bottom: 1px dashed #ff9000;position: relative;
		&:before,&:after{content:'';position:absolute;bottom: -2px;width: 3px;height: 3px;border-radius: 50%;background:#ff9000;display: block;}
		&:before{left: -2px;}
		&:after{right: -2px;}
	}
}
@media (min-width:320px)and(max-width:374px){
	.t_title{
		h3{font-size: 16px;}
		h4{font-size: 12px;}
	}
	.t_h2 h2{font-size: 18px;}
}
@media (min-width:375px)and(max-width:413px){
	.t_title{
		h3{font-size: 18px;}
		h4{font-size: 14px;}
	}
	.t_h2 h2{font-size: 20px;}
}
@media (min-width:414px){
	.t_title{
		h3{font-size: 20px;}
		h4{font-size: 16px;}
	}
	.t_h2 h2{font-size: 22px;}
}