.y_pages{}
.y_banner{position: relative;
	img{width: 100%;display: block;}
	.sm{font-size: 14px;height: 14px;line-height: 14px;padding:7px 8px;background: rgba(0,0,0,0.8);color: #fff;position: absolute;top:7px;right: 7px;border-radius: 3px;
		&:after{
			content:'';
			content:'';
			display: inline-block;
			width: 7px;
			height: 11px;
			background: url(../images/y_iconbox.png) no-repeat;
			background-size: 100px auto;
			background-position: -36px 0;
			margin-left: 5px;
			margin-bottom: -1px;
		};
	}
}
.y_yuyue{border-bottom: solid 1px #e7e7e7;position: relative;
	.txt{border-left: solid 2px #fc6322;padding:10px 100px 10px 10px;
		.m1{font-size: 14px;line-height: 14px;height: 14px;color: #333333;overflow: hidden;display: block;margin-bottom: 5px;}
		.m2{font-size: 9px;line-height: 9px;height: 9px;color: #ff7a41;overflow: hidden;display: block;}
	}
	.y_city{position: absolute;font-size: 14px;line-height: 14px;height: 14px;padding-right:18px;position: absolute;margin: auto;top: 0;bottom:0;right: 10px;
		&:before{
			content:'';
			display: block;
			width: 13px;
			height: 13px;
			background: url(../images/y_iconbox.png) no-repeat;
			background-size: 100px auto;
			background-position: 0 0;
			position: absolute;
			margin: auto;
			top: 0;
			bottom:0;
			right: 0;
		};

	}
}
.y_list{
	ul{padding:0 0 0 10px;
		li{padding:15px 0;border-bottom: solid 1px #e7e7e7;position: relative;
			.con{position: relative;
				.im{width:100px;height: 74px;border:1px solid #e6e6e6;position: absolute;top:0;left: 0;
					img{width:100%;height: 100%;}
				}
				.tx{height: 76px;margin:0 80px 0 112px;overflow: hidden;
					h2{font-size: 14px;color: #000000;line-height: 14px;height: 14px;overflow: hidden;margin-bottom:7px; }
					h3{font-size: 12px;color: #999999;line-height: 12px;height: 12px;overflow: hidden;margin-bottom:7px;
						u{margin-left: 12px;}
						&:nth-child(3){margin-bottom: 10px;};
					}
					.red{color: #f8203a;}
				}
			}
			.yue{text-align: center;width: 70px;position: absolute;margin:auto;top:0;bottom: 0;right: 0;height: 36px;border-left: solid 1px #e7e7e7;padding:10px 0;
				img{height: 20px;display: block;margin:0 auto;margin-bottom: 6px;}
				em{color: #ff4a26;font-size: 10px; line-height: 10px; display: block;}
			}
		}
	}
}
.y_more{font-size: 12px;color: #999999;height: 50px;line-height: 50px;text-align: center;

}
.y_search{padding:8px;position:relative;background: #e9e9e9;width: 100%;box-sizing:border-box;z-index: 999;border-top: solid 1px #cccccc;box-shadow: 0 -1px 3px rgba(204,204,204,0.5);
	.inp{height: 30px;border:solid 1px #c7c7c7;margin-right: 35px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;overflow: hidden;
		input{height: 100%;width: 100%;box-sizing:border-box;padding:7px;color: #666666;}
	}
	.btn{width: 35px;height: 30px;position: absolute;top: 8px;right: 8px;border:solid 1px #dd4610;background: #ff5418;border-top-right-radius: 3px;border-bottom-right-radius: 3px;overflow: hidden;
		input{width: 100%;height: 100%;background: transparent;position: relative;z-index:9}
		&:after{
			content:'';
			width: 17px;
			height: 17px;
			background: url(../images/y_iconbox.png) no-repeat;
			background-size: 100px auto;
			background-position: -15px 0;
			position: absolute;
			margin: auto;
			top: 0;
			bottom:0;
			right: 0;
			left: 0;
			z-index:8;
		};
	}
}
.y_error{padding:70px 0;
	img{width: 62px;display: block;margin: 0 auto;margin-bottom: 10px;}
	h2{font-size: 14px;color: #9a9a9a;text-align: center;line-height: 14px;}
}

.t_bg3{background:#f8f8f8;}
.t_cshaed{height: 44px;background:#fff;border-bottom: 1px solid #e6e6e6;
	h2{text-align: center;font-size: 14px;color: #999;line-height: 44px;}
}
.t_cstitle{font-size: 16px;color: #333;line-height: 34px;text-indent: 10px;
	em{font-size: 14px;color: #999;}
}
.t_cslist{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background: #fff;
	li{box-sizing:border-box;width: 20%;text-align: center;float:left;}
	a{display: block;width: 23px;height: 23px;line-height: 23px;text-align: center;border:1px solid #e6e6e6;border-radius:8px;background:#efefef;font-size: 14px;color: #666;margin:10px auto;}

}
.t_cslist1{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background: #fff;
	a{display: inline-block;width: 33.3333%;box-sizing:border-box;text-align: center;height: 44px;line-height: 44px;font-size: 14px;color: #666;float:left;}
}
.t_csgotop{position:fixed;bottom:150px;right:5px;width: 32px;height: 32px;border-radius: 50%;background:rgba(249,172,23,.7);
	&:after{content:'';position:absolute;width: 13px;height: 13px;display: block;border-left:2px solid #fff;border-top:2px solid #fff;-webkit-transform:rotate(45deg);top: 12px;left: 9px;}
}
.t_nowcity{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background: #fff;height: 44px;line-height: 44px;font-size: 14px;color: #999;text-indent: 10px;
	.t_city{font-size: 14px;color: #999;line-height: 44px;position:relative;padding-right: 12px;
		&:after{content:'';position:absolute;width: 4px;height: 4px; border-right: 1px solid #c2c2c2;border-top: 1px solid #c2c2c2;top: 8px;right: 0;-webkit-transform: rotate(135deg) translateZ(0);}
	}
/*	.t_cityP{@extend %t_cityP;width: 24px;height: 24px;float:right;margin:10px 10px 0 0;}*/
}
.y_showbox{margin:10px;border-radius: 5px;overflow: hidden;background: #fff;
	.g_icon{margin-bottom: 0;border:none;}
	.y_title_01{text-align: center;border-bottom: solid 1px #e8e8e8;padding:13px 0; 
		em{display: block;font-size: 18px;line-height:24px;color: #f2382d;}
	}
	.y_txt{padding:20px;
		p{margin-bottom: 15px;color: #9e9e9e;}
		em{display: block;color: #000}
	}
	.y_btn_02{font-size: 16px;color: #f34f4a;border: solid 1px #f34f4a;display: block;margin: 0 10px 20px 10px;padding:10px 0;line-height: 16px;text-align: center;border-radius: 5px;}
}
.y_bg{background: #db2a12;}
.y_slider{width: 100%;position: relative;overflow: hidden;
	ul{
		li{
			.img{width: 100%;display: block;}
		}
	}
	
}
.y_navigater{position: fixed;left: 0;right: 0;bottom: 100px;margin:auto;z-index: 99;width: 79px;text-align: center;
	ul{display: inline-block;background: rgba(105,2,0,0.9);padding:5px;border-radius: 15px;
		li{width: 7px;height: 7px;float: left;margin: 0 4px;background: #510a00;border-radius:100%;
			&.on{background: #fff;}
		}
	}
}
.y_btn_001{width: 209px;height: 42px; margin:auto;position: fixed;left: 0;right: 0;bottom:18px;z-index: 25;background: url(../images/y_bnt.png) no-repeat;background-size:100% auto; text-align: center;line-height: 37px;font-size: 20px;color: #d01509;
	a{color: #d01509;}
}
.y_txt_001{position: fixed;font-size: 11px;color: #fff76b;text-align: center;left: 0;right: 0;bottom: 73px;line-height: 18px;text-shadow: 0 0 2px #ca0d04;
	em{font-size: 18px;color: #fff;vertical-align: -3px;line-height: 18px;font-weight: bolder;}
}
.y_hdtool{height:39px;position: fixed;background: rgba(255,255,255,0.1);z-index: 25;width: 100%;top: 0; 
	.logo{float: left;width: 65px; margin: 9px 0 0 15px;}
	.jp{position: absolute;right: 10px;bottom: 0px;top:0;margin:auto;height: 12px;
		li{float: left;color: #fff;border-right: solid 1px #fb5a3a;padding:0 10px;font-size: 12px;line-height: 12px;
			a{color: #fff;}
			&:last-child{border:none;};

		}
	}
}
.y_overlay{position: fixed;bottom: 0px;top:0;right: 0;left: 0; margin:auto;background: rgba(0,0,0,0.9);z-index: 999;
	.share{ position: relative;padding:60px 40px;
		img{width: 100%}
		p{ position: absolute; left: 0; top: 18%; right: 0; text-align: center; font-size: 20px; color: #ebda4e;text-shadow: 0px 1px 0px rgba(0,0,0,.7);}
	}
	.y_naviga{padding:10px 24px;
		img{width: 100%}
	}
}
.cuowu{background:rgba(0,0,0,0.8);color: #fff;font-size: 14px; width: 200px;position: fixed;top:0;bottom: 0;left: 0;right: 0;margin: auto;height: 70px;line-height: 70px;text-align: center;border-radius: 5px;padding:0 10px; 
	em{display: inline-block;vertical-align:middle;line-height: 22px;font-size: 14px;}
}
.y_event_body{background:#ffab37; }
.y_event_box{width: 320px;}
.y_im_01{width: 320px;
	img{width: 100%;}
}
.y_im_02{height: 400px; background: url(../images/y_hong.png) no-repeat center;background-size: 100% auto;position: relative;margin-top:-16px;margin:0 5px;
	.m1{text-align: center;padding-top: 20px;
		em{font-size: 20px;color: #d06734;display: block;line-height: 20px;margin-bottom: 6px;}
	}
	.m2{color: #938b69;font-size: 13px;line-height: 13px;text-align: center;margin-top: 28px;}
	.btn01{display: block; width: 89px; height: 20px;background: url(../images/y_btn03.png) no-repeat center;background-size:auto 100%;cursor: pointer;margin: 0 auto;margin-top: 12px;}
	.m3{background: url(../images/y_btn.png) no-repeat center;width: 280px; height: 105px;display: block;background-size: 100% auto;margin: 0 auto;margin-top:53px;
		h2{font-size: 18px; line-height: 18px; color: #ff0002;padding: 43px 0 0 22px;margin-bottom: 5px;}
		h3{font-size: 12px; line-height: 12px;color: #862c23;padding-left: 22px;}
	}
	.btn_box{font-size: 0;text-align: center;margin-top: 20px;
		a{display: inline-block;width: 133px; height: 41px; margin:0 5px;}
		.btn02{background: url(../images/y_btn01.png) no-repeat center;background-size: 100% auto;}
		.btn03{background: url(../images/y_btn02.png) no-repeat center;background-size: 100% auto;}

	}
}
.y_wu{padding-top: 75px;
	.img{width: 110px;margin:0 auto;margin-bottom: 40px;
		img{width:100%;display: block;}
	}
	.txt{font-size: 14px;line-height: 14px; color: #999999;margin-bottom: 15px;text-align: center;}
	.btn{padding:8px 0;font-size: 14px;line-height: 14px;background: #f95454;width: 140px;text-align: center;display: block;margin:0 auto;color: #fff;border-radius: 15px;}
}
