// @import "../img";
// @import "../font";
// @mixin bgs($a,$b){
// 	background-size:$a/2+px $b/2+px;
// 	background: #f00;
// 	width: 100px;
// 	height: 100px;
// }
// @function Fem($a){
// 	@return $a/14+em;
// }
// .bbs{ @include bgs(20,10);  font-size:20px; height:50px;}
// .cc{ font-size: Fem(14);}
// .cdd{ @extend %img1;}
.y_mask{ position:fixed; top: 0; bottom: 0; width: 100%; z-index: 30; background-color: rgba(0,0,0,.85);}
.y_alt{ position: absolute; left: 0; right: 0; top: 0; z-index: 35; padding: 55px 0 0 0;
	img{ vertical-align: top;}
	.y_close{ position: absolute; top: 8px; right: 12px; width: 23px; height: 23px;
		@extend %y_alt_close;}
	.y_img{ width: 100%}
	.img_box{ position: relative; padding: 0 15px;
		img{ width: 100%;}
	}
	h3{ position: absolute; font-size: 18px; line-height: 25px; color: #55250b;}
	p{ position: absolute; font-size: 12px; line-height: 18px; color: #333333;}
	.txt_1{ left: 31px; right: 140px; top: 32%;}
	.txt_2{ top: 18%; left:15px; right: 15px; text-align: center;}
	.txt_3{ top: 38%; left:49%; right: 35px}
	.txt_4{ top: 28%; left: 30px; right: 107px;}
	.txt_5{top: 25%; left: 38%; right: 36px;}
	.txt_p1{ top: 56%;left: 30px; right: 107px;}
	.txt_p2{ top: 40%;left: 38%;right: 36px;}
	.y_buy{ display: block; margin: 25px auto 0; width: 203px; height: 50px; @extend %y_alt_6;}
	.y_txt_lk{ display: block; margin: 30px 0 15px 0; text-align: center; font-size: 12px; color: #999999; text-decoration: underline;}
}
@media (min-width:320px)and(max-width:374px){
	.y_alt{
		h3{font-size: 18px; line-height: 25px; }
		p{font-size: 12px; line-height: 18px; }
	}
}
@media (min-width:375px)and(max-width:413px){
	.y_alt{
		h3{font-size: 20px; line-height: 30px; }
		p{font-size: 14px; line-height: 22px; }
		.txt_5{left: 140px; }
		.txt_p2{left: 140px;}
	}
}
@media (min-width:414px){
	.y_alt{
		h3{font-size: 24px; line-height: 34px; }
		p{font-size: 16px; line-height: 26px; }
		//.txt_3{left:175px;}
		//.txt_5{left: 160px; }
		//.txt_p2{left: 160px;}
	}
}

.gl_bg_a{ background-color: #f5f5f5;}
.gl_wrap{ margin: 10px;
	.gl_head{ height: 56px; font-size: 18px; color: #f2382d; line-height: 56px; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #fff;}
	.g_icon{ border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
	.gl_inf{ padding: 0 0 20px; background-color: #fff; border-bottom: 1px solid #c9c7c7; border-radius: 5px;
		.gl_txt{ padding: 15px 20px 30px; font-size: 12px; line-height: 14px; color: #999;}
		.gl_view{ display: block; height: 36px; margin: 0 10px; border:1px solid #f34f4a; color: #f05452; font-size: 18px; text-align: center; line-height: 36px; border-radius: 5px;}
	}
}
.gl_slider{ position: relative; width: 100%;
	.y_navigater{ position: absolute; bottom: 80px;}
	.y_txt_001{ position: absolute; bottom: 53px;}
	.y_btn_001{ position: absolute; bottom: 0px;}
}
.gl_yao{ margin-top: 24px;
	.gl_yao_hd{ border-top:1px solid #c31d0c; border-bottom: 1px solid #db2a12; height: 0; font-size: 0; overflow: hidden;}
	.gl_yao_txt{ height: 38px; line-height: 38px; padding-left: 45px; background:url(../images/gl_jp.jpg) 12px center no-repeat #c31d0c; background-size: 25px 21px; font-size: 16px; color: #fff972; border-bottom: 1px solid #ae1e10;}
	.gl_yao_bd{ position: relative; padding: 8px 15px; font-size: 12px; color: #fff; line-height: 20px; background-color: #c31d0c;
		&:after{ content: ''; width: 10px; height: 18px; position: absolute; right: 15px; top:19px; background:url(../images/gl_sj.jpg) left top no-repeat; background-size: 10px 18px;}
	}

}